.spacer {
  flex: 1 1 auto;
}

main {
  margin: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.inner-content {
  padding: 24px;
  background: #fff;
  height: 100%;
}

:host{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
